<a href="/brand/add">Add brand</a>
<table border="1">
    <tr>
        <th>Brand name</th>
        <th>Brand country</th>
    </tr>
    <tr>
        {{#each brands}}
    </tr>
    <tr>
        <a href="/brand/detail/{{_id}}">{{name}}</a>
        <td>{{name}}</td>
        <td>{{country}}</td>
    </tr>
    {{/each}}
</table>