<form action="/brand/add" method="post">
   <h1>Add new brand</h1>
   <input type="text" name="name" placeholder="Enter brand name" required>
   <br><br>
   <input type="text" name="country" placeholder="Enter brand country" required>
   <br><br>
   <input type="submit" value="Add">
</form>